body {
	background-color: #bdb3bc;
	background: -webkit-gradient(linear, left top, left bottom, from(#bdb3bc), to(#5f5162)) fixed;
	color: #ffffff;
	display: flex;
	font-family: 'Quicksand', sans-serif;
	justify-content: center;
}
.weather-container {
	background-color: #272e38;
	border-radius: 4px;
	margin-top: 150px;
	width: 1200px;
}
.weather-header {
	padding: 15px;
}
.weather-main {
	display: flex;
	position: relative;
	height: 450px;  
}
.weather-main:after {
	background: -webkit-linear-gradient(left, #babff6 50%, #00ffed 100%); 
	content:"";
	display: block;
	position: absolute;
	bottom: 0;
	height: 6px;
	width: 100%;
}
.weather-information {
	flex: 1;
	align-self: center;
	font-size: 25px;
	padding-right: 50px;
	position: absolute;
    right: 0;
	text-align: center;
}
.weather-information-temperature {
	font-size: 120px;
}

/* weather modifiers */
.weather-winter {
	background: url('../images/winter.jpg') no-repeat center; 
}